*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: 'Rubik',sans-serif;
  line-height: 1.5;
  color: #252b46;
}

.wrapper {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  cursor: pointer;
}

.btn--blue {
  background-color: #5368df;
}

.btn--blue:hover {
  color: #5368df;
  border-color: #5368df;
  background-color: white;
}

.btn--red {
  background-color: #fa5757;
}

.btn--red:hover {
  border: 1px solid #fa5757;
  background-color: white;
  color: #fa5757;
}

.btn--black {
  background-color: lightgray;
  color: #252b46;
}

.btn--black:hover {
  background-color: white;
  border-color: black;
}

.desc {
  color: #9194a1;
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .desc {
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
  }
}

.u-m-1 {
  padding: 2rem 0;
}

.u-m-2 {
  padding: 4rem 0;
}

.u-m-3 {
  padding: 6rem 0;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-pb-1 {
  padding-bottom: 1rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

.u-pb-3 {
  padding-bottom: 3rem;
}

.u-centered {
  text-align: center;
}

.u-w-90 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-90 {
    width: 65%;
  }
}

.u-w-80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-80 {
    width: 65%;
  }
}

.u-w-70 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-70 {
    width: 65%;
  }
}

.u-w-60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-60 {
    width: 65%;
  }
}

.u-w-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-50 {
    width: 65%;
  }
}

.u-w-40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-40 {
    width: 65%;
  }
}

.u-w-30 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-30 {
    width: 65%;
  }
}

.u-w-20 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .u-w-20 {
    width: 65%;
  }
}

.title {
  font-size: 2rem;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .sub-title {
    font-size: 2rem;
    text-align: center;
  }
}

.header {
  padding: 2rem 0;
  position: relative;
}

.header .container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3rem;
}

.header__hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  height: 100%;
  grid-column-gap: 4rem;
}

@media only screen and (max-width: 800px) {
  .header__hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .header__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.header__title {
  font-size: 2.5rem;
}

@media only screen and (max-width: 400px) {
  .header__title {
    font-size: 2.2rem;
  }
}

.header__right {
  width: 100%;
  height: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 28rem;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  height: 17rem;
  background-color: #5368df;
  z-index: -1;
  border-radius: 50% 0 0 50%;
}

@media only screen and (max-width: 800px) {
  .header::after {
    top: 38%;
    width: 28rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 500px) {
  .header::after {
    top: 25%;
    width: 22rem;
    height: 15rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  padding: 0 1rem;
}

.nav__link {
  text-transform: uppercase;
  font-size: 0.9rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav__link:hover {
  color: #fa5757;
}

.feature {
  position: relative;
}

.feature__list {
  width: 50%;
  margin: 0 auto 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .feature__list {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 800px) {
  .feature__item {
    width: 100%;
    border-top: 1px solid gray;
  }
  .feature__item:last-child {
    border-bottom: 1px solid gray;
  }
}

.feature__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: none;
  font-size: inherit;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  background-color: transparent;
  color: inherit;
}

.feature__link:hover {
  color: #fa5757;
}

@media only screen and (max-width: 800px) {
  .feature__link {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}

.feature__hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .feature__hero {
    margin-top: 4rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feature::after {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 0;
  width: 33rem;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  height: 20rem;
  background-color: #5368df;
  z-index: -1;
  border-radius: 0 50% 50% 0;
}

@media only screen and (max-width: 900px) {
  .feature::after {
    top: 65%;
    height: 16rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 800px) {
  .feature::after {
    top: 52%;
    width: 30rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 500px) {
  .feature::after {
    top: 52%;
    width: 24rem;
    height: 14rem;
  }
}

.feature__img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 800px) {
  .feature__btn {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .feature .desc {
    width: 85%;
    text-align: center;
  }
}

.feature__left {
  width: 100%;
  height: 100%;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}

@media only screen and (max-width: 800px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card {
  width: 100%;
  height: 380px;
  text-align: center;
  -webkit-box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 300px;
  }
}

.card:nth-child(2) {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.card:last-child {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}

.card__icon {
  width: 80px;
  height: 80px;
}

.dot {
  width: 100%;
  margin: 0 auto;
}

.faq__desc {
  border-bottom: 1px solid transparent;
}

@media only screen and (max-width: 800px) {
  .faq__desc {
    border-color: gray;
  }
}

@media only screen and (max-width: 800px) {
  .faq .u-w-40 {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .faq .title {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
}

.questions {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .questions {
    width: 100%;
  }
}

.question {
  padding: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
}

.question__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.question__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.answer {
  font-size: 0.9rem;
  color: #9194a1;
  display: none;
}

.contact {
  background-color: #5368df;
  color: white;
}

.contact__sub {
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
  .contact__sub {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 800px) {
  .contact .title {
    width: 90%;
  }
}

.contact__field {
  max-width: 450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .contact__field {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.7rem;
  padding: 0.45rem;
  margin-right: 0.2rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

@media only screen and (max-width: 800px) {
  .contact__input {
    font-size: 0.9rem;
    padding: 0.9rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .contact .btn {
    padding: 0.9rem;
  }
}

.footer {
  background-color: #252b46;
  color: white;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__logo {
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
  vertical-align: middle;
}

.footer__list {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (max-width: 800px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item {
  margin: 0 1rem;
}

@media only screen and (max-width: 800px) {
  .footer__item {
    margin: 1rem 0;
  }
}

.footer__link {
  text-transform: uppercase;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__link:hover {
  color: #fa5757;
}

.footer__icons {
  margin-left: auto;
}

@media only screen and (max-width: 800px) {
  .footer__icons {
    margin: 1rem auto;
  }
}

.footer__icon {
  width: 2rem;
  height: 2rem;
  fill: white;
  margin: 0 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__icon:hover {
  fill: #fa5757;
}

@media only screen and (max-width: 800px) {
  .footer__icon {
    margin: 0 10px;
  }
}

.burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .burger {
    display: block;
  }
}

.mobilenav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.95);
  z-index: 999;
  padding: 2rem;
  color: white;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.mobilenav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.mobilenav__logo {
  -webkit-filter: invert(1) brightness(100%) hue-rotate(180deg);
          filter: invert(1) brightness(100%) hue-rotate(180deg);
}

.mobilenav__close {
  cursor: pointer;
  background: none;
  border: none;
}

.mobilenav__list {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.mobilenav__item {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
}

.mobilenav__link {
  font-size: 2rem;
  text-transform: uppercase;
}

.mobilenav .special {
  display: inline-block;
  width: 90%;
  border: 5px solid white;
  margin-top: 0.9rem;
  padding: 0.3rem 0;
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.mobilenav .special:hover {
  background-color: white;
  color: rgba(37, 43, 70, 0.95);
}

.mobilenav__icons {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobilenav__icon {
  width: 4rem;
  height: 4rem;
  fill: white;
  margin: 0 0.5rem;
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
  background-color: #252b46;
  color: gray;
}

.current {
  border-color: #fa5757;
}

.current:hover {
  color: currentColor;
}

.drop {
  display: block;
}

.open {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */